.span {
    width: 40%;
    margin: 5px auto;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

.inp-add-book {
    margin-bottom: 17px;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 4px;
    outline: none;
    padding: 7px;
    width: 40%;
    font-size: 18px;
}

.form-group {
    margin-top: 30px;
}


.inp-add-book:focus {
    border-bottom: 2px solid rgb(70, 70, 70);
}


.btn-add {
    font-size: 18px;
    background-color: rgb(50, 180, 50);
    transition: 1s;
}

.btn-add:hover{
    background-color: rgb(1, 156, 1);
}


.btn-cancel {
    background-color: crimson;
    font-size: 18px;
    text-decoration: none;
}

.btn-cancel:hover {
    background-color: rgb(163, 2, 2);
    transition: .3s;
}

.form-actions {
    margin: 20px auto;
    width: 18%;
    display: flex;
    justify-content: space-between;
}

.edit-form {
    margin-top: 22px;
}
